body {
    background-color: #333;
    color: #eee;
    text-align: center;
    font-family: sans-serif;
}

img {
    height: 150px;
    width: auto;
}

span {
    color: lawngreen;
}

h1 {
    font-size: 3em;
    color: sienna;
}

header {
    font-size: 1.5em;
    font-style: italic;
    color: azure;
    padding-bottom: 5px;
    padding-top: 5px;
}

section {
    background-color: #222;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

table, th, td {
    border: 3px inset;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 
}

table {
    border: 3px outset;
    width: 95%;
    margin-bottom: 10px;
}

td, th {
    padding: 8px;
    background-color: black;
    font-size: .9em;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.type {
    font-size: 1.1em;
}

a:link {
    color: #eee;
}

a:visited {
    color: #aaa;
}

a:hover {
    color: #fec;
}

a:active {
    color: #cef;
}